################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/ImplementationApp/bin/Debug/net8.0
/ImplementationApp/obj
